.idea
venv
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
lib
lib64
local_settings.py
#img
*.yml
*.cache

!/exp1_simple_sender/async_receive_consumer.py
!/exp1_simple_sender/async_send_producer.py
